/* CSS Variables */
:root {
  --primary: #8fb6d4;
  --dark: #181717;
  --light: #fff;
  --red: #b80c2f;
  --blue: #040466;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: Arial, Helvetica;
  /* color: var(--dark); */
}

body {
  background: #ebe4e4;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background: var(--blue);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: var(--red);
  color: var(--light);
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 30px;
}

/* Nav */
.main-nav ul {
  display: grid;
  grid-gap: 30px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background-color: var(--blue);
  color: var(--light);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
  border-radius: 4px;
}

.main-nav a:hover {
  background: var(--red);
  color: var(--light);
}

.nav-links {
  color: var(--primary);
}

/* Top container */
.top-container {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

/* showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url("./imgaes/img-desk-1.jpeg");
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: var(--light);
}
.showcase p {
  font-size: 1.2rem;
  margin-top: 0;
  color: var(--light);
}
/* top box */
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
  transition: transform 0.5s;
}

.top-box:hover {
  transform: translateY(-10px);
}
.price {
  font-size: 1.5rem;
}
.top-box-a {
  grid-area: top-box-a;
}
.top-box-b {
  grid-area: top-box-b;
}

/* boxes */
.boxes {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  transition: transform 0.5s;
}

.box:hover {
  transform: translateY(10px);
}
.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

.fas {
  color: var(--red);
}
.portfolio {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

/* footer */
footer {
  margin-top: 2rem;
  background: var(--blue);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* media quires */
@media screen and (max-width: 700px) {
  .top-container {
    grid-template-areas:
      "showcase showcase "
      " top-box-a top-box-b";
  }
  .showcase h1 {
    font-size: 2.2rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .top-container {
    grid-template-areas:
      "showcase "
      " top-box-a"
      "top-box-b";
  }
}

/* shop.html page */

.products-container {
  text-align: center;
  font-size: 1.5rem;
  color: var(--red);
  letter-spacing: 2px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 300px;
  height: 2rem;
  font-size: 1.2rem;
  border: 1px solid var(--blue);
  border-radius: 4px;
  padding-left: 0.75rem;
}
.search input:focus {
  outline: none;
}
.fa-search {
  position: relative;
  right: 1.5rem;
}

.search select {
  height: 2rem;
  font-size: 1.2rem;
  border: 1px solid var(--blue);
  border-radius: 4px;
  padding-left: 0.75rem;
}

.search select:focus {
  outline: none;
}

.products {
  display: grid;
  padding: 2rem 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
}

.products im {
  width: 100%;
}
.products h3 {
  font-size: 1.5rem;
  color: var(--blue);
}

.products p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--red);
}
